!**/[Pp]ackages/build/
!.axoCover/settings.json
!.idea/codeStyles
!.idea/runConfigurations
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
!Build/**/*.ico
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/Android/res/
!Build/Android/res/*/
!Build/Android/res/*/*.png
!Build/IOS/Resources/
!Build/IOS/Resources/Graphics/
!Build/IOS/Resources/Graphics/*.png
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VC.opendb
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.code-workspace
*.coverage
*.coveragexml
*.d
*.dbmdl
*.dbproj.schemaview
*.dll
*.dotCover
*.dsp
*.dsw
*.dylib
*.e2e
*.exe
*.gch
*.gpState
*.ilk
*.iobj
*.ipa
*.ipdb
*.iws
*.jfm
*.jmconfig
*.la
*.lai
*.ldf
*.lib
*.lnk
*.lo
*.log
*.mdf
*.meta
*.mm.*
*.mod
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln
*.sln.docstates
*.sln.iml
*.slo
*.smod
*.snupkg
*.so
*.stackdump
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xcodeproj
*.xcworkspace
*.xsd.cs
*_BuiltData.uasset
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.axoCover/*
.builds
.cr/personal
.fake/
.history
.history/
.idea/$CACHE_FILE$
.idea/*
.idea/**/aws.xml
.idea/**/azureSettings.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.ionide
.ionide/
.localhistory/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.vs/
.vscode/*
.vshistory/
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
Binaries/*
Build/*
Build/*/**
Build/Android/res/*
Build/Android/res/*/*
Build/IOS/Resources/*
Build/IOS/Resources/Graphics/*
BundleArtifacts/
ClientBin/
DerivedDataCache/*
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
Intermediate/*
MigrationBackup/
OpenCover/
Package.StoreAssociation.xml
Plugins/*
Plugins/**/Binaries/*
Plugins/**/Intermediate/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
PublishScripts/
Saved/*
ScaffoldingReadMe.txt
ServiceFabricBackup/
SourceArt/**/*.png
SourceArt/**/*.tga
StyleCopReport.xml
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.XML
UpgradeLog*.htm
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
artifacts/
atlassian-ide-plugin.xml
bld/
cmake-build-*/
com_crashlytics_export_strings.xml
coverage*.info
coverage*.json
coverage*.xml
crashlytics-build.properties
crashlytics.properties
csx/
dlldata.c
ecf/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
healthchecksdb
ipch/
mono_crash.*
nCrunchTemp_*
node_modules/
nunit-*.xml
orleans.codegen.cs
out/
paket-files/
project.fragment.lock.json
project.lock.json
publish/
rcf/
x64/
x86/
~$*